{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <!-- Importing fontawesome icon  -->
    <script src="https://kit.fontawesome.com/3d14e5aa35.js" crossorigin="anonymous"></script>
    <!-- impoting required fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>

    <!------------------------------------------ starting header from here ----------------------------------->
    <section id="tittle">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">tindog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="#">Hello, {{ name }}</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- Tittle text -->
        <div class="row">
          <div class="col-lg-6">
            <h1>Give dogs a home, bring happiness .</h1>
            <button class="btn btn-outline-light btn-lg download-button" type="button"><i class="fab fa-apple"></i>Download</button>
            <button class="btn btn-dark btn-lg download-button" type="button"><i class="fab fa-google-play"></i>Download</button>
          </div>
          <div class="col-lg-6">
            <img  class="tittle-image" src="{% static './images/mobile_img.png' %}" alt="img">
          </div>
        </div>
      </div>
    </section>


    <!----------------------------------------- Ending header section ----------------------------------------->

      <!----------------------------------------- Starting feature section ---------------------------------------->
      <section id="features">
        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-heart fa-4x"></i>
            <h3>Easy to use</h3>
            <p>so easy to use even your dog can do it</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-bullseye fa-4x"></i>
            <h3>Elient clientele</h3>
            <p>We have all the dogs, the best dogs</p>
          </div>
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-check-circle fa-4x"></i>
            <h3>Gurenteed work</h3>
            <p>Find the love of your dog's life or take your money back</p>
          </div>
        </div>
      </section>


      <!----------------------------------------- Ending feature section ------------------------------------------>

      <!---------------------------------------- Starting testomonial section -------------------------------------->
      <section id="testomonials">
        <div class="testomonials-heading">
          <h3>Check out what customer said about our service</h3>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h2>I no longer have to sniff other dogs for love. I have found the hottest one on Tindog</h2>
        <img class="testomonials-img" src="{% static './images/kamini-gupta1-cropped-500x500.xf581fcf7.jpg' %}" alt="dog img">
        <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item">
              <h2>I no longer have to sniff other dogs for love. Happy to be her</h2>
        <img class="testomonials-img" src="{% static './images/kamini-gupta1-cropped-500x500.xf581fcf7.jpg' %}" alt="dog img">
        <em>Pebbles, New York</em>
            </div>
            <div class="carousel-item">
              <h2>Finally found a great home and parents just because of tindog. Woof!! </h2>
        <img class="testomonials-img" src= "{% static './images/kamini-gupta1-cropped-500x500.xf581fcf7.jpg' %}" alt="dog img">
        <em>Pebbles, New York</em>
            </div>
          </div>
        </div>
        </section>
    <!------------------------------------------ Ending testomonial section ----------------------------------------->

    <!------------------------------------------ Starting pricing section ------------------------------------------->
    <section id="pricing">
      <div class="container-fluid">
        <h2>Buying Zone</h2>
        <p>Choose your favorite dog breed from below and give him a new home</p>

        <div class="row">
          <div class="col-lg-3">
            <div class="card shadow" >
              <div class="inner">
                <img src="{% static './images/rsz_1golden.jpg' %}" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Golden Retriver</h5>
                <h5 class="card-title">Price: 15000</h5>
                <h5 class="card-title">7 matches per day</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card shadow" >
              <div class="inner">
                <img src="{% static './images/rsz_1golden (3).jpg' %}" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Rotwiller</h5>
                <h5 class="card-title">Price: 8000</h5>
                <h5 class="card-title">7 matches per day</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card shadow" >
              <div class="inner">
                <img src="{% static './images/rsz_1golden (1).jpg' %}" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Pug</h5>
                <h5 class="card-title">Price: 8000</h5>
                <h5 class="card-title">7 matches per day</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card shadow">
              <div class="inner">
                <img src="{% static './images/rsz_1golden (2).jpg' %}" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">Labrador</h5>
                <h5 class="card-title">Price: 12000</h5>
                <h5 class="card-title">7 matches per day</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
        </div>

    </section>
    <!------------------------------------------ Ending pricing section ------------------------------------------->

    <!------------------------------------------ Mobile app section ----------------------------------------------->

    <section id="app-download">
      <div class="container-fluid">
        <h1>Download our mobile app for best experice </h1>
        <p>You will get 10% discount on every order placed through our mobile app</p>
        <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-apple"></i>Download</button>
        <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-google-play"></i>Download</button>
      </div>
    </section>

    <!------------------------------------------ Mobile app section ------------------------------------------------>

    <!------------------------------------------ Starting footer section -------------------------------------------->

    <footer id="fotter-section">
      <div>
        <p>Copyright @2020 tindog</p>
      </div>
    </footer>

    <!------------------------------------------ Ending footer section ---------------------------------------------->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>

